services:
  noop_service:
    container_name: noop_service
    build:
      context: .
      dockerfile: ./docker/noop/Dockerfile
    depends_on:
      - hc2_proxy
      - hc2
    env_file: ./docker/noop/.env
    expose:
      - 3001
    volumes:
      - ./docker/noop:/src
      - ./hc2:/src/hc2
    networks:
      - shared_network
    #restart: always
  foh_service:
    container_name: foh_service
    build:
      context: .
      dockerfile: ./docker/foh/Dockerfile
    depends_on:
      - hc2_proxy
      - hc2
    env_file: ./docker/foh/.env
    expose:
      - 3001
    volumes:
      - ./docker/foh:/src
      - ./hc2:/src/hc2
    networks:
      - shared_network
    #restart: always
  hc2_proxy:
    container_name: hc2_proxy
    build:
      context: .
      dockerfile: ./docker/hc2-proxy/Dockerfile
    env_file: ./docker/hc2-proxy/.env
    depends_on:
      - hc2
    expose:
      - 3001
    ports:
      - 3001:3001
    volumes:
      - ./docker/hc2-proxy:/src
    networks:
      - shared_network
  hc2:
    container_name: hc2
    build:
      context: .
      dockerfile: ./docker/hc2/Dockerfile
    env_file: ./docker/hc2/.env
    expose:
      - 3001
    #ports: 
    #  - 3001:3001
    volumes:
      - ./docker/hc2:/src
      # this mount was required to get @honeycomb/cloud to install in the hc2 container. Likely the folder structure, filename conventions or the hc2 Dockerfile needs updating
      - ./hc2:/src/hc2
    networks:
      - shared_network
networks:
  shared_network: